    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Halil I. Köklü 2014 - All Rights Reserved</p>

            <ul class="social">
                <li><a href="https://twitter.com/halk">Twitter</a></li>
                <li><a href="https://github.com/halk">GitHub</a></li>
                <li><a href="http://uk.linkedin.com/in/halilkoklu/">LinkedIn</a></li>
            </ul>

        </div>

    </div>

</footer>