<section class="main-header {% if page.path == 'index.html' %}home{% else %}regular{% endif %}">

    <div class="vertical-container">

    	<div class="wrapper clearfix">

	        <header>
	        	{% if page.path != 'index.html' %}<a href="/">{% endif %}
		            <h1 id="main-title">Halil I. Köklü</h1>
		            <h2 id="main-subtitle">An Ecommerce-Savvy Technologist</h2>
	        	{% if page.path != 'index.html' %}</a>{% endif %}
	        </header>

	        <nav id="main-nav" role="navigation">
				<a href="/about.html" class="{% if page.url == '/about/index.html' %}selected{% endif %}">About</a>
				<a href="/blog/index.html" class="{% if page.url == '/blog/index.html' %}selected{% endif %}">Blog</a>
				<a href="mailto:halil@koklu.me">Contact</a>
			</nav>

		</div>

    </div>

</section>